force-app/main/default/flows/CreateContactFlowViaAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AllContactsToBeUpsertedPop</name>
        <label>Preparing Contacts to be Upserted</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ToBeUpsertedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContactLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Assignment</name>
        <label>Contact Assignment</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ContactVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateContactLoop.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateContactLoop.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateContactLoop.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactVar.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateContactLoop.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateContactLoop.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllContactsToBeUpsertedPop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CreateContactFlowViaAPI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateContactFlowViaAPI</label>
    <loops>
        <name>CreateContactLoop</name>
        <label>CreateContactLoop</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>ParseVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_Element</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Element</name>
        <label>Create Contact Element</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>ToBeUpsertedContacts</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateContactLoop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ParseVariable</name>
        <apexClass>GTAVParserClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToBeUpsertedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
